 
 .popup {
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.6);
	z-index: 5000;
}

/* Inner */
.popup-inner {
	max-width:340px;
	width:90%;
	padding:40px;
	position:absolute;
	opacity:0.99;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow:0px 4px 10px rgba(0,0,0,1);
	background:rgba(0,0,255,0.08);
	border-radius:12px; 
} 

/* Close Button */
.popup-close {
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	border-radius:1000px;
	background:rgba(0,0,0,0.8);
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;
	color:#fff;
}

.popup-close:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
	transform:translate(50%, -50%) rotate(180deg);
	background:red;
	text-decoration:none;
}
 
 
 
	.cont{
	background-color:#f2f2f2;
	box-shadow:0px 4px 10px rgba(0,0,0,1);
	border-radius:11px;
	width:700px;
	}
	.tr{
	height:58px;
	padding-top:5px;
	}
	.tr:hover{
	background:rgba(0,0,0,0.1);
	box-shadow:0px 2px 9px rgba(0,0,0,1);
	border-radius:11px;
	}
	.svgImg 
	{
	width:100%;
	height:50px;
	border-radius: 100%;
	display:flex;
	}
	.par{
	font-family: 'Courier New', Times, serif;
	font-size: 18px;
	font-weight: bold;
	margin-left:20px;
	margin-top:7px;
	}
	.par2{
	font-family: 'Courier New', Times, serif;
	font-size: 24px;  
	margin-top:7px;
	font-weight:bold;
	}
 
